# A
.agents/

# B
*.bak
build
build/
*/build/

# D
dev.sh
dist/
*/dist/
.DS_Store

# E
.env
.env.local
.env.*.local
*.env

# I
.idea/

# L
logs/
*.log

# N
node_modules/
*/node_modules/
npm-debug.log*

# P
pnpm-debug.log*

# S
scripts/
*.swo
*.swp

# T
tests/
Thumbs.db
*.tmp
tree.txt

# V
.vscode/

# Y
yarn-debug.log*
